demotestadf1/PartialArmTemplates/ArmTemplate_2_2_2020_19_54_50.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "demotestadf1"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_from_blob_db",
						"description": "Copy data from blob storage to database",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "test//cars.csv"
							},
							{
								"name": "Destination",
								"value": "dbo.cars"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Car",
											"type": "String"
										},
										"sink": {
											"name": "Car",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MPG",
											"type": "String"
										},
										"sink": {
											"name": "MPG",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "Cylinders",
											"type": "String"
										},
										"sink": {
											"name": "Cylinders",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Displacement",
											"type": "String"
										},
										"sink": {
											"name": "Displacement",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "Horsepower",
											"type": "String"
										},
										"sink": {
											"name": "Horsepower",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "Weight",
											"type": "String"
										},
										"sink": {
											"name": "Weight",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "Acceleration",
											"type": "String"
										},
										"sink": {
											"name": "Acceleration",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "Model",
											"type": "String"
										},
										"sink": {
											"name": "Model",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Origin",
											"type": "String"
										},
										"sink": {
											"name": "Origin",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DelimitedText1",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy_from_blob_db",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "dbo.cars"
							},
							{
								"name": "Destination",
								"value": "test//"
							}
						],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Car",
											"type": "String"
										},
										"sink": {
											"name": "Car",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MPG",
											"type": "Double"
										},
										"sink": {
											"name": "MPG",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "Cylinders",
											"type": "Int32"
										},
										"sink": {
											"name": "Cylinders",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Displacement",
											"type": "Double"
										},
										"sink": {
											"name": "Displacement",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "Horsepower",
											"type": "Double"
										},
										"sink": {
											"name": "Horsepower",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "Weight",
											"type": "Double"
										},
										"sink": {
											"name": "Weight",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "Acceleration",
											"type": "Double"
										},
										"sink": {
											"name": "Acceleration",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "Model",
											"type": "Int32"
										},
										"sink": {
											"name": "Model",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Origin",
											"type": "String"
										},
										"sink": {
											"name": "Origin",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "Parquet1",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Parquet1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquet1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "test"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		}
	]
}